build/
cmake-build-*/
.cache/
compile_commands.json
*.swp
*.swo
.idea/
.vscode/
__pycache__/
*.pyc
install/
third_party/llvm-project/
third_party/llvm-build/
third_party/llvm-install/
third_party/*.deb
